<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{{ encore_entry_link_tags('js/index') }}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}

    <!-- Include the compiled script-->
    {{ encore_entry_script_tags('js/index') }}
{% endblock %}
</body>
</html>